{% load portfolio %}
<div id="project">
  {% include "portfolio/dates_fragment.html" %}
  <h2 class="name">{{ project.name }}</h2>

  {% if project.url %}
  <h3 class="url"><a href="{{ project.url }}">{{ project.url }}</a></h3>
  {% endif %}
  <ul class="skills">
    {% for skill in project.skills.all %}
    <li><a href="{% url skill_detail skill.slug %}">{{ skill }}</a></li>
    {% endfor %}
  </ul>



  {% if project.pull_quote %}
  <p class="pull-quote">
  {{ project.pull_quote }}
  </p>
  {% endif %}
  


  <div id="description">
  {{ project.description|safe }}
  </div>

  {% with project.projectfile_set.all as files %}
  {% if files %}
  <ol id="files">
    {% for file in files %}
    <li><a href="{{ file.file.url }}">{{ file.file.name|split:"/"|last }}</a></li>
    {% endfor %}
  </ol>
  {% endif %}
  {% endwith %}

  {% with project.projectimage_set.all as images %}
  {% if images %}
  <ul id="images">
    {% for image in images %}
    <li>
    <p class="image-description">{{ image.desc }}</p>
    <img src="{{ image.image.url }}" alt="{{ image.image.name|split:"/"|last }}" title="{{ image.image.name|split:"/"|last }}">
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

</div>


