<div id="project">
  <h2 class="name">{{ project.name }}</h2>

  {% if project.url %}
  <h3 class="url"><a href="{% url project_detail project.slug %}">{{ project.url }}</a></h3>
  {% endif %}

  {% if project.pull_quote %}
  <p class="pull-quote">
  {{ project.pull_quote }}
  </p>
  {% endif %}
  
  <ul class="skills">
    {% for skill in project.skills.all %}
    <li><a href="{% url skill_detail skill.slug %}">{{ skill }}</a></li>
    {% endfor %}
  </ul>

  {% include "portfolio/dates_fragment.html" %}

  <div id="description">
  {{ project.description|safe }}
  </div>

  {% with project.projectfile_set.all as files %}
  {% if files %}
  <ol id="files">
    {% for file in files %}
    <li><a href="{{ file.file.url }}">{{ file.file.name }}</a>:</li>
    {% endfor %}
  </ol>
  {% endif %}
  {% endwith %}

</div>


