{% load portfolio %}
<ul id="projects">
  {% for project in projects.all %}
  <li class="project">
  <div class="details">
    {% include "portfolio/dates_fragment.html" %}
    <ul class="skills">
      {% for skill in project.skills.all %}
      <li><a href="{% url skill_detail skill.slug %}">{{ skill }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <h2><a href="{% url project_detail project.slug %}">{{ project }}</a></h2>
  


  {{ project.description|safe }}


  {% with project.projectimage_set.all as images %}
  {% if images %}
  {% with images.0 as image %}
  
  <img src="{{ image.image.url }}" alt="{{ image.image.name|split:"/"|last }}" title="{{ image.image.name|split:"/"|last }}">

  {% endwith %}
  {% endif %}
  {% endwith %}

  </li>
  {% endfor %}
</ul>

